
Client/.vs/VoiceUP/v15/Server/sqlite3/storage.ide-wal
Client/.vs/VoiceUP/v15/Server/sqlite3/storage.ide
Client/.vs/VoiceUP/v15/Server/sqlite3/db.lock
Client/.vs/VoiceUP/v15/Server/sqlite3/storage.ide-shm
Client/VoiceUP/obj/Debug/VoiceUP.csproj.CoreCompileInputs.cache
Client/VoiceUP/obj/Debug/VoiceUP_MarkupCompile.i.lref
Client/VoiceUP/obj/Debug/Windows/SettingsWindow.g.i.cs
Client/VoiceUP/obj/Debug
Client/VoiceUP/bin/Debug
Server/VoiceUpServer/obj/Debug
Server/VoiceUpServer/bin/Debug
Client/.vs/VoiceUP/v15
Server/.vs/VoiceUpServer/v15
